<div class="container">
  <h1>Management Panel</h1>

  {{#if message}}
  <div class="row">
    <div class="col-md-6 col-md-push-3">
      {{#each message}}
      <div class="alert alert-{{#if type}}{{type}}{{else}}info{{/if}} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <strong>{{title}}</strong> {{text}}
      </div>
      {{/each}}
    </div>
  </div>
  {{/if}}

  <div class="row">
    <div class="col-md-6 col-md-push-3">
      <form role="form" action="/panel/pictures/upload" method="post" enctype="multipart/form-data">
        <!-- <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
        </div> -->
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" class="form-control" placeholder="Enter title">
        </div>
        <div class="form-group">
          <label for="file">Image</label>
          <input type="file" name="file" id="file">
        </div>
        <div class="form-group">
          <label for="date">Date</label>
          <input type="text" id="date" name="date" value="{{today}}" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>

      <h2>uploaded pictures</h2>

      <table class="table table-striped">
        <thead>
          <tr>
            <th width="30">#</th>
            <th width="300">Title</th>
            <th width="100">Date</th>
          </tr>
        </thead>
        <tbody>
          {{#each pictures}}
          <tr {{#eq id ../pictureId}}class="success"{{/eq}}>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{date_format Post.date}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</div>
